/*General Styles*/
body{
	font-family:sans-serif;
	font-size:16px;
}

p{
	line-height: 2;
	margin: 15px 0;
}

h1{
	line-height:1.2;
	font-size:35px;
}

ul{
	line-height:2;
}

.container{
	width:95%;
	margin:auto;
	background:#FFF;
	padding: 90px 76px;
	padding-left: 260px;
	padding-bottom:10px;
}

/*Text Stylings*/

.title{
	padding-left:50px;
	border-bottom: solid 1px #BABABA;
	padding-bottom: 59px;
	padding-top: 200px;
	margin-bottom:15px;
	background: #67ACDD;
}

.title h1{
	font-size:4em;
	margin:0;
	margin-bottom:5px;
	color:#FFF;
	font-family: 'Abel', sans-serif;
}

.row{
	margin: 47px 0px;
}

.row h1{
	font-family: 'Abel', sans-serif;
}



/*Panel Designs*/
.panel-wrap{
	position: fixed;  
	background-color:#F8F8F8;
	overflow: auto;
	z-index:100;
	line-height: 2;
	margin:0;
}

.panel-top{
	border-bottom:solid 1px #DDD;
	padding:54px;
	padding-left:85px;
}

.panel-top h1{
	font-size: 30px;
	margin:0;
	padding:0;
	margin-left:12px;
}

.panel-top span{
	float:right;
	opacity:0.4;
}

.panel-middle{
	padding:20px 50px;
}



.panel-top h1{	
	font-family: 'Abel', sans-serif;
}

#leftPanel{
	margin:0px;
}

#bottomPanel .panel-body{
	margin-right:50px;
}

/*Panel Dismiss Buttons General*/
.btn{
	background: #67ACDD;
	color: #FFF;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 19px;
	border: solid #C3BABA 1px;
	
}

.btn:hover{
	cursor:pointer;
	opacity: 0.7;
	text-decoration: underline;
}

/*Panel Dismiss Buttons*/
#topPanel .btn{
	right: 50px;
	position:absolute;
	width: 90px;
	margin-bottom:10px;
	margin-top:40px;
}


#bottomPanel .btn{
	right: 50px;
	position:absolute;
	margin-bottom:10px;
	margin-top:34px;
}

#rightPanel .btn{
	right:20px;
	position:absolute;
	margin-top:10px;
}

#leftPanel .btn{
	right:20px;
	position:absolute;
	margin-top:50px;
}

/*Opening Panel Buttons*/
.open-panel{
	height: 57px;
	background: #67ACDD;
	color: #FFF;
	padding-top: 18px;
	padding-left: 0px;
	border: solid #C3BABA 1px;
	margin-left:64px;
	width: 300px;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 19px;

}

.open-panel:hover{
	cursor:pointer;
	opacity: 0.7;
	text-decoration: underline;
}
